.body {
    background:#F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-gap: 10px;
  }

  .box1 {
    height: 282px;
    width: 540px;
    left: 165px;
    top: 164px;
    border-radius: 8px;
    background: #733fc8;
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
    
  }
  .box2 {
    height: 282px;
    width: 255px;
    left: 735px;
    top: 164px;
    border-radius: 8px;
    background-color: #48556a;

    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .box3 {
    height: 572px;
    width: 255px;
    left: 1020px;
    top: 164px;
    fill: Solid;
    display: grid;
    grid-column: 4/4;
    grid-row: 1/3;
    
   background: #FFFFFF;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
   border-radius: 8px;
  }
  .box4 {
    height: 266px;
    width: 255px;
    left: 165px;
    top: 470px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);


    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .box5 {
    height: 266px;
    width: 540px;
    left: 450px;
    top: 470px;
    border-radius: 8px;
    background: #19202d;
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .box1 img {
height: 28px;
width: 28px;
left: 197px;
top: 190px;
border-radius: 50%;
  }
  .box2 img {
height: 28px;
width: 28px;
left: 197px;
top: 190px;
border-radius: 50%;
  }
  .box3 img {
height: 28px;
width: 28px;
left: 197px;
top: 190px;
border-radius: 50%;
  }
  .box4 img {
height: 28px;
width: 28px;
left: 197px;
top: 190px;
border-radius: 50%;
  }
  .box5 img {
height: 28px;
width: 28px;
left: 197px;
top: 190px;
border-radius: 50%;
  }
  .box1img2 {
height: 102px;
width: 104px;
left: 521px;
top: 164px;
border-radius: 0px;

  }